        html {
            box-sizing: border-box;
        }
        *, *:before, *:after{
            box-sizing: inherit;
        }            
            body { 
            background: #FCF6B1;
        }
        section {
            background:#FCF6B1;

        }
        h1{
            color: #F72C25;
        }
        p{
            color: rgb(131, 17, 112);
        }
        h2{
            color: #1460aa;
            width: 400px;
            margin: auto;
        }
        h3{
            color: #F7B32B;
        }
        .main {
            max-width: 1000px;
            margin: 0 auto;
        }



a {
    color: hotpink;
}
nav a {
    color: brown;
}
.main__header {
    color: red;
    max-width: 1000px;
    margin: 0 auto;
}

.navigation
{
    background: green;
    padding: 15px;
    border-radius: 8px;
    
}
.navigation__link {
    color: purple;
    display: flex;
    margin: 20px;
    border: 4px;
 justify-content: center;
}
.navigation__link--homepage {
    background: red;
    color: black;
   
}
.week-summary {
padding: 4px;
border: 1px dashed blue;
margin: 2px auto;
max-width: 100px;
}
.week-summary__description {
padding: 20 px;
margin: auto;
max-width: 800px;
color: rgb(131, 17, 112);
}

.about__heading {
    color: green;
}
.about__link {
    color: yellowgreen;
}

.notes__heading {

    color: green;
}
.footer {
    color: brown;
    max-width: 1000px;
    margin: 0 auto;
}
.footer__link {
    color: red;
    max-width: 1000px;
    margin: 0 auto;
    
}
.list {
    color: purple;
    list-style: square;
    
}
.content__heading--html {
    color: cyan;
}
.page {
    
    min-height: 100vh;
    background-position: center center; 
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.content {
    background-image: url(/html.jpg);
  
}