.week-summary {
  padding: 4px;
  border: 1px dashed blue;
  margin: 2px auto;
  max-width: 150px; }
  .week-summary::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: tomato;
    border-radius: 50%; }
  .week-summary::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: tomato;
    border-radius: 50%; }
  .week-summary::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: tomato;
    border-radius: 50%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  background-size: cover; }

section {
  background: #f6ecf7; }

h1 {
  color: #f72c25; }

p {
  color: #831170; }

h2 {
  color: #1460aa;
  width: 400px;
  margin: auto; }

h3 {
  color: #f7b32b; }

.main {
  max-width: 1000px;
  margin: 60px auto 0;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  background-size: cover; }
  .main__header {
    color: red;
    max-width: 1000px;
    margin: 0 auto; }
  .main__heading--description {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 2px auto;
    padding: 10px; }

a {
  color: hotpink; }

nav a {
  color: brown; }

.header {
  background: #ffffff;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%; }

.navigation {
  padding: 5px;
  border: 5px;
  margin: 5px;
  display: none; }
  .navigation--open {
    display: block; }
  .navigation__link {
    color: purple;
    display: block;
    margin: 10px; }
  .navigation__link:hover {
    color: blue; }
  .navigation__link--homepage {
    color: black; }

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: none; }

.about__heading {
  color: green; }

.about__link {
  color: yellowgreen; }

.about__picture {
  display: block;
  max-width: 100%; }

.form {
  width: 500px; }
  .form__item {
    display: block;
    width: 100%; }
  .form__label {
    display: block; }
    .form__label__label--textarea {
      width: 100%;
      height: 300px; }
  .form .footer {
    color: brown;
    max-width: 1000px;
    margin: 0 auto; }
    .form .footer__link {
      color: red;
      max-width: 1000px;
      margin: 0 auto; }
  .form .list {
    color: purple;
    list-style: square; }
  .form .content__heading--html {
    color: cyan; }
  .form .page {
    min-height: 100vh;
    background-color: #faaca8;
    background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%); }
  .form .content {
    padding: 10px;
    background-clip: content-box;
    background-image: url(/html.jpg);
    background-size: cover;
    background-position: center center; }
  .form .mobile {
    display: none; }
  .form .notes {
    display: grid;
    grid-template-areas: "notes__heading notes__heading notes__heading" "notes__heading--description notes__heading--description notes__heading--description" "week-summary--grid-1 week-summary--grid-2 week-summary--grid-3";
    grid-template-columns: 1fr 1fr 1fr; }
  .form .notes__heading {
    padding: 10px;
    color: green;
    display: grid;
    grid-area: 1/1/3 / span 3; }
  .form .notes__heading--description {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 2px auto;
    padding: 10px; }
  .form .form__item:focus {
    background: #c6e3ec; }
  @media screen and (max-width: 300px) {
    .form .mobile {
      display: initial; }
    .form .notes {
      display: initial; }
    .form .notes__heading {
      display: initial; }
    .form .notes__heading--description {
      display: initial; }
    .form body {
      background: red; }
    .form .footer {
      background: blue; } }
  @media (min-width: 760px) {
    .form .hamburger {
      display: none; }
    .form .navigation {
      padding: 7px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  .form .klasa-z-js {
    background: yellow; }
